parameters:
  app.upload_dir: '%kernel.project_dir%/public/uploads'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/Kernel.php'

  App\Service\GenerateNumeroServiceInterface: '@App\Service\Impl\GenerateNumeroService'

  App\Service\Impl\FileUploaderService:
    arguments:
      $uploadDir: '%app.upload_dir%'