<!DOCTYPE html>
<html>
  <head>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/base.css') ~ '?v=4' }}" data-turbo-track="reload">
    {% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {# Un SEUL header partagé partout #}
    {% include 'partial/header.html.twig' %}

    {% block body %}{% endblock %}
  </body>
</html>